extends ../layout/index
block contenido
    main.container.mt-5     
        h1.text-center.mb-5 #{pagina}

        .row
            .col-md-12
                if(errores)
                    each  error in errores  
                        div.alert.alert-danger.text-center(role="alert") #{error.mensaje}
                if(aprrove)
                    each  appr in aprrove  
                        div.alert.alert-success.text-center(role="alert") #{appr.mensaje}
                .row.justify-content-center
                    .col-md-8
                        form(action="/estudianteRegistro", method="POST")
                            .form-group
                                label(for="email_estudiante") Email estudiante
                                input(id="email_estudiante", class="form-control", type="email", placeholder="Email estudiante", name="email_estudiante", value=email_estudiante)
                            .form-group
                                label(for="pass_estudiante") Contraseña
                                input(id="pass_estudiante", class="pass_estudiante", type="password", placeholder="Contraseña", name="pass_estudiante", value=pass_estudiante)
                            .form-group
                                label(for="nombre_estudiante") Nombre estudiante
                                input(id="nombre_estudiante", class="form-control", type="text", placeholder="Nombre estudiante", name="nombre_estudiante", value=nombre_estudiante)
                            .form-group
                                label(for="ced_estudiante") Cédula estudiante
                                input(id="ced_estudiante", class="form-control", type="text", placeholder="Cédula estudiante", name="ced_estudiante", value=ced_estudiante)
                            .form-group
                                label(for="tel_estudiante") Teléfono
                                input(id="tel_estudiante", class="form-control", type="tel", placeholder= "Teléfono estudiante", name="tel_estudiante", value=tel_estudiante)
                            
                            .form-group
                                label(for="escolaridad_estudiante") Escolaridad del estudiante
                                input(id="escolaridad_estudiante", class="form-control", type="text", placeholder= "Escolaridad del estudiante", name="escolaridad_estudiante", value=escolaridad_estudiante)
                            .form-group
                                label(for="nacimiento_estudiante") Fecha de nacimiento
                                input(id="nacimiento_estudiante", class="nacimiento_estudiante", type="date", name="nacimiento_estudiante", value=nacimiento_estudiante)
                            input.btn.btn-success.btn-block(type="submit", value="agregar")